* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
a {
    text-decoration: none;
}
 @font-face {
    font-family: 'SpinCycle';
    src: url(fonts/Spin\ Cycle/spincycle_3d_ot.otf),
         url(fonts/Spin\ Cycle/spincycle_ot.otf);
    
 }

 @font-face {
    font-family: 'SourceSansPro';
    src: url(fonts/Source\ Sans\ Pro/SourceSansPro-Regular.otf),
         url(fonts/Source\ Sans\ Pro/SourceSansPro-Bold.otf);
 }

/* Header */
#header {
    background: url(images/headphones_hero_1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    /* width: 90%; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 8rem;
}

/* Navbar Stlying */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo h3 {
    font-family: 'SpinCycle';
}

.nav-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

.nav-links li a {
    color: #ffffff;
    font-family: 'SourceSansPro';
}

.nav-links li a:hover {
    color: #ff6565;
}

/* Header Main Text */
.header-main-text {
    padding-top: 12rem;
    text-align: center;
    color: #ffffff;
    font-family: 'SourceSansPro';
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    border: none;
}

.my-button {
    padding: 0.8rem 1.4rem;
    background: #ff6565;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
}

.header-text-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #ffffff;
    font-family: 'SourceSansPro';
}