* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles */
a {
    text-decoration: none;
}

@font-face {
    font-family: 'SpinCycle';
    src: url(fonts/Spin\ Cycle/spincycle_3d_ot.otf),
         url(fonts/Spin\ Cycle/spincycle_ot.otf);
    
}

@font-face {
    font-family: 'SourceSansPro';
    src: url(fonts/Source\ Sans\ Pro/SourceSansPro-Regular.otf),
         url(fonts/Source\ Sans\ Pro/SourceSansPro-Bold.otf);
}

/* 
@font-face {
    font-family: 'IconFont';
    src: url(fonts/Font\ Icons/holberton_school-icon.eot),
        url(fonts/Font\ Icons/holberton_school-icon.ttf),
        url(fonts/Font\ Icons/holberton_school-icon.woff);
} */


/* Header */
#header {
    background: url(images/headphones_hero_1.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    max-width: 100vw;
}

.container {
    /* width: 90%; */
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 8rem;
}

/* Navbar Stlying */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo img {
    width: 10rem;
}

.nav-links {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

/* .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%
} */

.nav-links li a {
    color: #ffffff;
    font-family: 'SourceSansPro';
}

.nav-links li a:hover {
    color: #ff6565;
}

.hamburger {
    display: none;
    color: #ffffff;
    background: none;
    cursor: pointer;
    font-size: 24px;
}

/* Header Main Text */
.header-main-text {
    padding-top: 12rem;
    text-align: center;
    color: #ffffff;
    font-family: 'SourceSansPro';
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    border: none;
}

.my-button {
    padding: 0.8rem 1.4rem;
    background: #ff6565;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
}

.header-text-sm {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: #ffffff;
    font-family: 'SourceSansPro';
}

/* What we do Section */
.wwd-section {
    padding-bottom: 8rem;
}

.wwd {
    padding-top: 8rem;
    font-family: 'SourceSansPro';
    text-align: center;
    line-height: 1.5rem;
}

.wwd-icons {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.wwd-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wwd-icon span {
    color: #ff6565;
    font-size: 8rem;
}

.wwd-icon span:hover {
    animation: bounce 0.6s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40px);
    }
}

.wwd-icon p {
    padding-top: 3rem;
    line-height: 1.5rem;
}

/* Our Results */

#our-results {
    background: url(images/headphones_hero_2.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center;
    max-width: 100vw;
}

.our-results-text {
    color: #ffffff;
    font: 'SourceSansPro';
    text-align: center;
    line-height: 1.5rem;
    padding-top: 14rem;
    /* padding-left: 3rem; */
    /* padding-right: 2rem; */
}

.results-progress {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 6rem;
    padding-bottom: 4rem;
}

.result {
    position: relative;
    width: 100%;
}

.result img {
    width: 100%;
    height: 90%;
    transition: transform 0.7s ease-in-out;
}

.result img:hover {
    transform: rotate(180deg) scale(1.1);
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.text-overlay h2 {
    color: #ffffff;
    font-family: 'SourceSansPro';
    margin: 0;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.text-overlay p {
    color: #ffffff;
    font-family: 'SourceSansPro';
    font-size: 10px;
}

/* Form Area */

#cta {
    padding-bottom: 8rem;
}

.cta {
    display: flex;
    justify-content: center;
    padding-top: 8rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.input-line {
    position: relative;
    width: 100%;
}

.input-line input {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #c4bebe;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.input-line input:focus {
    border-bottom-color: #ff6565;
}

.input-line textarea {
    width: 90%;
    padding: 10px 0;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #c4bebe;
    background: transparent;
    outline: none;
    transition: border-color 0.3s;
}

.input-line textarea:focus {
    border-bottom-color: #ff6565;
}

/* Footer */

#footer {
    background: #071629;
    width: 100%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #071629;
}

.footer-logo img {
    width: 10rem;
}

.footer-icons span {
    color: #ffffff;
    font-size: 2rem;
    padding-left: 0.8rem;
}

.copyright {
    padding-top: 4rem;
}

.copyright p {
    text-align: center;
    font-family: 'SourceSansPro';
    color: #787878;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .wwd-icons {
        grid-template-columns: repeat(2, 1fr);
    }

    .results-progress {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    p {
        font-family: 'SourceSansPro';
    }

    .wwd-icons {
        grid-template-columns: 1fr;
    }

    .results-progress {
        grid-template-columns: 1fr
    }

    .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    /* background: #ff6565; */
    } 

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
    }

    .hamburger {
        display: block;
        position: absolute;
        top: 35px;
        right: 15px;
    }

    .our-results-text {
        padding: 0;
        font-size: 12px;
        font-family: 'SourceSansPro';
    }

    .footer-logo img {
        padding-bottom: 2rem;
    }

    .footer-icons {
        display: inline-flex;
    }

    .container {
        padding: 2rem 3rem;
    }

    .header-main-text h2 {
        padding-bottom: 2rem;
    }
}

