* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #c271ff;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.big-page {
    background: url(images/Object.png);
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    display: flex;
    padding: 3rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: auto;
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    font-size: 1rem;
}

.smile {
    display: block;
    padding: 3rem;

}

.smile .smile-text h1 {
    color: #ffffff;
    font-size: 7.5rem;
    font-weight: 700;
    text-align: center;
    padding-bottom: 2rem;
}

.smile .smile-text .span-text {
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
}

.button-container {
    display: grid;
    place-items: center;
    padding-bottom: 6rem;
}
.button-container .button {
    color: #ffffff;
    border: none;
    background-color: #c271ff;
    width: 10rem;
    height: 2.75rem;
    border-radius: 22px;
    font-size: 1rem;
}

.smile-area h2 {
    color: #ffffff;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 10rem;
}

.smile-area .learn {
    color: #c271ff;
}

.smile-pros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
}

.smile-pros .smile-pro h3 {
    display: block;
    color: #ffffff;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.25rem;
}

.smile-pros .smile-pro p {
    color: #ffffff;
    padding-top: 0.5rem;
    font-style: italic;
    text-align: center;
}

.year {
    display: block;
    padding-top: 0.5rem;
    text-align: center;
}

.center-live {
    display: block;
    padding-top: 0.5rem;
    text-align: center;
}

.smile-pro img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.quote {
    display: flex;
    background: #c271ff;
    justify-content: space-evenly;
    align-items: center;
    min-height: 392px;
    flex-wrap: wrap;
}

.quote .quote-text {
    color: #ffffff;
}

.quote-text h3 {
    padding-top: 2.5rem;
}

.quote-text p {
    padding-top: 1rem;
    font-style: italic;
}

.blockquote-block {
    display: block;
    padding-top: 0.4rem;
}

.popular-tutorials {
    padding: 2rem;
    padding-top: 4rem;
}

.popular-tutorials h2 {
    text-align: center;
}

.tutorials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 2rem;
    padding: 4rem;
    gap: 2rem;
}

.tutorial h3 {
    padding-top: 0.8rem;
    padding-left: 0.6rem;
}

.tutorial p {
    padding-top: 0.5rem;
    padding-left: 0.6rem;
    padding-bottom: 0.5rem;
}

.tutorial-image {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1rem;
}

.tutorial-image img {
    width: 2rem;
    height: auto;
}

.video-thumbnail {
    position: relative;
    width: 100%;
    max-width: 300px;
    aspect-ratio: 3/2;
    overflow: hidden;
    border-radius: 10px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(238, 238, 238, 0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    width: 0;
    height: 0;
    border-top: 0.25rem solid transparent;
    border-bottom: 0.25rem solid transparent;
    border-left: 0.4rem solid #c271ff;
    margin-left: 0.05rem;
}

.tutorial-image h4 {
    display: inline;
    color: #c271ff;
}

.tutorial-star-min {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.6rem;
}

.tutorial-star {
    display: inline;
}

.tutorial-star-min p {
    padding-right: 3.5rem;
    color: #c271ff;
}

.fa-solid {
    color: #c271ff;
}

.grey-color {
    color: grey;
}

.membership-section {
    width: 100%;
    background: #071629;
}

.membership-section h2 {
    text-align: center;
    color: #ffffff;
    padding-top: 5rem;
}

.memberships {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 6rem;
    gap: 2rem;
}

.membership {
    display: grid;
    grid-template-rows: repeat(3 1fr);
    place-items: center;
}
.membership img {
    padding-bottom: 2.5rem;
    max-width: 100%;
    height: auto;
}

.membership h3 {
    color: #ffffff;
    text-align: center;
}

.membership p {
    padding-top: 1rem;
    color: #ffffff;
}

.container h2 {
    text-align: center;
    font-size: 2.625rem;
    padding-top: 4rem;
}

.faqs {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.faq_1 {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 4rem;
}

.faq_1 h3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.faq_2 {
    padding-left: 7rem;
    padding-right: 7rem;
    padding-top: 4rem;
}

.faq_2 h3 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.faq_1 p {
    padding-bottom: 3rem;
}

.faq_2 p {
    padding-bottom: 3rem;
}

#footer {
    background: #071629;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
    flex-wrap: wrap;
}

.fa-brands {
    color: #fff;
}

.footer-icons i {
    padding-left: 2rem;
}

.footer-text {
    text-align: center;
    padding-bottom: 2rem;
    color: gray;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1.5rem;
    }

    .nav-links {
        margin-top: 1rem;
        justify-content: center;
    }

    .smile .smile-text h1 {
        font-size: 4rem;
    }

    .smile-area h2 {
        font-size: 1.5rem;
        padding-bottom: 5rem;
    }

    .quote {
        flex-direction: column;
        padding: 2rem;
        min-height: auto;
    }

    .video-thumbnail{
        max-width: 100%;
    }

   .faq_1, .faq_2 {
        padding-left: 2rem;
        padding-right: 2rem;
    } 

    .footer {
        flex-direction: column;
        padding: 2rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


@media screen and (max-width: 480px) {
    .smile .smile-text h1 {
        font-size: 2.5rem;
    }

    .button-container .button {
        width: 8rem;
        height: 2rem;
        font-size: 0.875rem;
    }

    .smile-area h2 {
        font-size: 1.25rem;
    }

    .container h2 {
        font-size: 1.75rem;
    }

    .faq_1, .faq_2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .big-page {
        background-size: contain;
    }

}