body {
    background: burlywood;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    background: blanchedalmond;
    flex: 2;
    overflow-y: auto;
}

aside {
    background: cornflowerblue;
    flex: 1;
    overflow-y: auto;
}